
.playback-container{
 

}
.playback-search-bar
{

}
.playback-video-details{
  height: 80vh;
  width: 70%;
  padding:30px;
  float:left;
}
.playback-video-list{
  height: 100%;
  width: 30%;
  padding:30px;
  float:right;
}
